<!DOCTYPE html>
<html lang="en">
  <div class="page-border">
    <div class="main-box">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
        <%- body %>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>