<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %> 
  </head>

  <body>
    <div class="page-border">
      <div class="main-box">
        <div id="wrapper">
          <%- include('../partials/header') %>
          <%- include('../partials/navigation') %>

          <main>
            <%- body %>
          </main>

          <%- include('../partials/footer') %>
        </div>
      </div>
    </div>
  </body>
</html>